.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #007AFF;
    width: 100%;
}

.avatar-wrapper {
    display: flex;
}

.avatar {
    margin: 5px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #743ad0, #d53a9d) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}

.username {
    font-size: 30px;
    font-weight: bold;
    color: azure;
}

.toListButton {
    font-weight: bold;
    right: 15px;
    border: 3px solid white;
}