.navbar  {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #05736B;
    width: 100%;
}
.avatar-wrapper {
    display: flex;
}
.avatar {
    margin: 10px;
    border: 2px solid black;
}
.username {
    font-size: 35px;
    font-weight: bold;
    color: azure;
}

.toListButton {
    font-weight: lighter;
    right: 100px;
}