:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: #f1f3f4;
}

body {
    height: 100%;
}

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    height: auto;
    margin: 0;
    padding: 0;
}